body{
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: #00A0E5;
 background-color: white;
}

#middle{
  background:linear-gradient(
   to bottom,
   rgba(0,0,0, 0),
   rgba(0,0,0, 100)
 ),url("../img/sign.jpg") no-repeat center/cover;
  width: 100vh;
  height: 150vh;
  color: white;
   overflow-x: hidden;
   width: 100%;
   height: 100vh;
   display:flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   
 }
 #input{
  height: 30px;
  width:30vh;
  margin-bottom: 20px;
  border-radius:5px;
  text-align:center;
  background-color: white;
 }
 #cont input{
  width: 50vh;
 }
 #cont button{
  width: 30vh;
  height: 40px;
  border-radius: 20px;
  background-color: #00A0E5;
  color:white
 }
 #cont button:hover{
  background-color: #00A0E5;
  opacity: 0.4;
  cursor: pointer;
 }
#cont h1{
 font-size: 25px;
}
#down a{
 color: green;
}
b{
 color: #00A0E5
}
@media(max-width:769px){
 #cont input{
  width: 30vh;
 }
 #cont button{
  width: 25vh;
  height: 30px;
  border-radius: 20px;
  background-color: #00A0E5;
  color:white
 }
 #image h1{
  font-size: 18px;
 } 
 #image p{
  font-size: 15px;
 } 

}
