@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

/********* RESET **********/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/******** BODY *********/
html, body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}

div#main-body {
  padding-top: 7rem;
  min-height: 100%;
  margin-bottom: -5rem;
}

div#main-body.bg-grey {
  background: #f2f3f2;
}

div#main-body::after {
  content: "";
  display: block;
  height: 5rem;
}

.container {
	margin: 0 auto;
	width: 80%;
} 


/****** HEADER & NAVIGATION ******/

header {
	background: #00A0E5;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

header > .main-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	z-index: 2;
}

header > .main-nav > .logo {
	font-weight: 700;
	font-size: 2.4rem;
	margin-right: auto;
	text-transform: uppercase;
	height: 7rem;
	line-height: 7rem;
}

header > .main-nav .logo > a {
	padding: 1rem 1.6rem 1rem 0;
}

header nav {
	align-items: center;
	display: flex;
	font-size: 1.6rem;
	flex: 1 1 100%;
	flex-direction: column;
	order: 1;
	text-align: center;
}

header nav.menu {
	display: none;
}

header nav > a {
	padding: 1.6rem 0rem;
	text-transform: uppercase;
	color: #7b7f83;
  margin-top: 1rem;
  cursor: pointer;
}

header nav > a:last-child {
	margin-bottom: 1.6rem;
}
header nav > a:first-child {
	margin-top: 0;
}

header nav > a:hover {
	color: white;
}

header nav > a.current {
	color: white;
	font-weight: 700;
}

header .toggle-nav {
	font-size: 2.4rem;
	padding: 0.3rem 0.6rem;
}

/* ============================ */

/****** HERO ******/
#hero {
	background: linear-gradient(to right bottom, rgba(69, 84, 100, 0.5), rgba(38, 46, 55, 0.8)),
	top / cover no-repeat url("../img/ask-blackboard-356079\ \(1\).jpg");
	color: white;
  height: 50rem;
  width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#hero h2 {
	font-size: 4.8rem;
}

#hero p{
	font-size: 2.4rem;
}

#hero .hero-btn {
	font-size: 1.6rem;
	margin-top: 4.8rem;
	margin-bottom: 1.6rem;
}

/* ======================================= */

/********* BUTTONS *************/
.login_btn {
  background: white;
  color: #00A0E5;
	padding: 1rem 1.6rem;
  border-radius: 0.8rem;
  border: 2px solid white;
}

.signup_btn {
  color: white;
	padding: 1rem 1.6rem;
}

.login_btn:hover {
  font-weight: 700;
  background: #fff;
  color: #00A0E5;
  border-color: #fff;
}

.btn {
	color: #fff;
  cursor: pointer;
  font-size: 2.4rem;
	padding: 1.6rem 2.4rem;
	border-radius: 0.8rem;
	text-decoration: none;
	text-align: center;
	outline: none;
}

.btn-green {
	background: #00A0E5;
	border-color: white;
}

.btn-primary {
	background: rgb(68, 160, 141);
	border-color: rgb(68, 160, 141);
}

.btn-green:hover,
.btn-green:active {
	background: #4cbcec;
}
/* ========================== */

/* QUESTIONS */
#questions {
  margin: 2.4rem auto;
  line-height: 2;
}

.questions_card {
  border-bottom: 2px solid #7b7f83;
  padding: 1rem;
}

.questions_title {
  font-size: 2.4rem;
}
.questions_description {
  font-size: 1.6rem;
}

/******** FORMS ***********/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  padding: 3.2rem 0 0;
  margin: auto;
}

.login-page .form {
  background: #FFFFFF;
  max-height: 52rem;
  overflow: hidden;
  width: 100%;
  padding: 4rem;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 3.2rem auto;
}

.form input {
  background: #f2f2f2;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  outline: 0;
  margin: 0 0 1.6rem;
  padding: 1.6rem;
  width: 100%;
}

.form input:read-only,
.form textarea:read-only {
  background: white;
  font-size: 1.6rem;
}

.form textarea {
  background: #f2f2f2;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  outline: 0;
  margin: 0 0 1.6rem;
  padding: 1.6rem;
  width: 100%;
  resize: none;
}

.form button {
  background: #00A0E5;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin: 0 0 1.6rem;
  outline: 0;
  padding: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3 ease;
  width: 100%;
}

.form button:hover,.form button:active,.form button:focus {
  background: #4cbcec;
}

.form .message {
  margin: 0 0 1.6rem;
  color: #b3b3b3;
  font-size: 1.2rem;
  cursor: pointer;
}

.form .offset {
  color: #b3b3b3;
  font-size: 1.2rem;
  text-align: left;
  margin: 0 0 1.6rem;
}

.form .message a {
  color: #00A0E5;
}

.form .message a.grey {
  color: #b3b3b3;
}

.login-page form {
  max-height: 52rem;
  opacity: 1;
  overflow: hidden;
  transition: all 600ms 300ms ease-in-out;
}

form h2 {
  color: black;
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 1.6rem;
}

form.closed {
  opacity: 0;
  max-height: 0px;
}

.form-container {
  max-width: 100rem;
  margin: auto;
}

form .form-group label {
  color: black;
  display: block;
  font-size: 1.6rem;
  line-height: 2;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  width: 30%;
}

form .form-group div {
  width: 100%;
  margin: 0 0 1rem;
}

form .form-group div>input {
  margin: 0 0 0.6rem;
}
/* ======================== */



/************ FOOTER *******************/

footer{
	background-color: #00A0E5;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
  font: normal 1.6rem sans-serif;
  height: 5rem;
  line-height: 5rem;
  z-index: 2;
}

footer>p{
	color:  #fff;
	font-size: 14px;
	margin: 0;
}
/* ====================================== */

@media only screen and (min-width: 770px) {
	html {
		font-size: 62.5%;
	}

	header > .main-nav {
		flex-wrap: nowrap;
		height: 7rem;
	}

	header nav {
		display: inherit;
		flex-direction: row;
		flex: none;
	}

	header nav > a {
		margin-top: 0;
		margin-left: 1.6rem;
		padding: 1rem 0;
	}

	header nav > a:first-child {
		margin-left: 0;
	}
	
	header nav > a:last-child {
		margin-bottom: 0;
	}

	header nav.menu {
		display: inherit;
	}

	header .toggle-nav {
		display: none;
	}

	.estimate-form {
		max-width: 50rem;
		margin-left: auto;
	}

	.rfy-display {
		margin: 0 auto;
		width: 80%;
		flex-direction: row;
	}

	.rfy-img {
		width: 30rem;
	}

	.rfy-content {
		padding-left: 4.8rem;
	}

	.rfy-content .rfy__title {
		text-align: left;
  }

  .user-preview > div {
    width: 90%;
  }

  .form-container {
    padding: 3.2rem 0 0;
  }

  form .form-group {
    display: flex;
  }

  form .form-group label {
    line-height: 1;
    margin: 1.6rem 1.6rem 1.6rem 0;
  }
}